<?php
/* This file is part of rfGallery.
 * 
 * rfGallery is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by 
 * the Free Software Foundation, either version 3 of the License, or 
 * (at your option) any later version. 
 *  
 * rfGallery is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details. 
 *  
 * You should have received a copy of the GNU General Public License 
 * along with rfGallery.  If not, see <http://www.gnu.org/licenses/>. 
 *
 * Author: Michael Hauspie <mickey AT fairy-project DOT org>
 */

/* Comment for development mode or change to whatever you want */
error_reporting(0);

/* The folder where the original photos are 
 * relative to document root
 */
$PHOTOS_DIR = "photos";
/* The folder where the thumbnails of the photos
 * are, also relative to document root
 */
$THUMBS_DIR = "thumbs";

/* The home page name. Will be displayed as page title and as
 * first link of the navigation bar.
 */
define("HOME_PAGE_NAME", "Photos");

/* The message displayed as copyright notice */
define("FOOTER_MESSAGE", "Gallery provided by <a href=\"https://github.com/hauspie/rfgallery\">rfGallery</a>");

/* Maximum depth for looking for an album thumbnail
 * Set to -1 for no limit, 1 for no recursive search
 */
$ALBUM_THUMBNAIL_MAX_DEPTH = 1;

/* Size of the bounding box of the auto-generated thumbnails.
   Here the thumbnail will always fit the 390x260 box defined in the css file
   Original ratio of the photo is kept.
 */
$AUTO_THUMB_WIDTH  = 390;
$AUTO_THUMB_HEIGHT = 300;

/* The filter to use for generating thumbnails.
   The filters are from https://secure.php.net/manual/en/imagick.constants.php#imagick.constants.filters.
   Imagick::FILTER_POINT is fast but ugly
   Imagick::FILTER_LANCZOS is nice but slow
   Imagick::FILTER_HERMITE is a compromise between speed and quality
*/
$AUTO_THUMB_FILTER = Imagick::FILTER_POINT;
?>
